* {
  font-family: Georgia, serif;
}

body {
  padding: 20px;
}

header {
  padding: 20px;
  background-color: DarkViolet;
  border-radius: 12px;
}

h1 {
  font-family: inherit;
  font-size: 3.5em;
  max-width: inherit;
  display: block;
  padding-bottom: 3px;
  border-bottom: 3px solid black;
}

p {
  font-size: 2em;
  max-width: inherit;
  display: block;
}

#mainBackground {
  margin: 10px;
  padding: 10px;
  background-size: cover;
  background-image: url(https://wallpaperscraft.com/image/italy_rome_colosseum_light_tower_ruins_63218_2560x1440.jpg);
  border-radius: 12px;
}

.flashCard {
  width: 500px;
  height: 200px;
  margin: .3em auto;
  border: 2px solid black;
  text-align: center;
  display: block;
  padding: 20px;
  font-family: inherit;
  font-size: 3em;
  background-color: #fff;
  opacity: 0.8;
}

.teacherResponse {
  width: 500px;
  height: 200px;
  margin: .3em auto;
  border: 2px solid red;
  text-align: center;
  display: block;
  padding: 20px;
  font-family: inherit;
  font-size: 3em;
  background-color: #fff;
  opacity: 0.8;
}


.formContainer {
  text-align: center;
}

#submissionForm * {
  display: inline-block;
  margin: 1em auto;
  text-align: left;
  padding: 2px;
  font-family: inherit;
  font-size: 2em;
  opacity: 0.8;
}
